*.class

dev/test/*.o
dev/test/*.prg

dev/test/java_code.h
dev/VS/.vs/*
dev/VS/Debug/*
dev/VS/Release/*
dev/VS/ascii/Debug/*
dev/VS/ascii/Release/*
dev/VS/b2fJ-c64/Debug/*
dev/VS/b2fJ-c64/Release/*
dev/VS/util/Debug/*
dev/VS/util/Release/*
distr/build/*
distr/src/javavm/*.o

distr/src/platform/*.o

release/*.zip
